<!doctype html>
<html class="no-js" lang="en">
<head>
{% include head.html %}
</head>

<body>
{% include header.html %}
{{ content }}

<footer>
{% include footer.html %}
</footer>

<!-- Search model Begin -->
<div class="search-model-box">
    <div class="d-flex align-items-center h-100 justify-content-center">
        <div class="search-close-btn">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Cari Kata Kunci.....">
        </form>
    </div>
</div>
<!-- Search model end -->

{% include javascript.html %}
    
</body>
</html>
